header {
    background-image: linear-gradient(to right, #df7171, #ce8181);
    width: 100%;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#icone-logo {
    width: 30px;
}

#bloco-esquerdo {
    display: flex;
    align-items: center;
}

h5 {
    margin: 0px 15px;
}

#container-principal {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icone-sair {
    width: 18px;
    margin: 0px 5px 0px 30px;
}