<div id="container-principal">
    <div class="container-secundario">
        <div class="item-menu">
            <img class="icone-menu" src="/assets/images/equipe.png">
            <span>Funcionarios</span>
        </div>
        <div class="item-menu-colapse">
            <div>
                <img class="icone-menu" src="/assets/images/cardapio.png">
                <span>Cardápio</span>
            </div>
            <div>
                <img class="icone-seta" src="/assets/images/seta-direita.png">
            </div>
        </div>  
    </div>
</div>