<div id="container-principal">
    <button class="item-menu">
        <img class="icone-menu" src="/assets/images/equipe.png">
        <span>Funcionarios</span>
    </button>
    <div id="menu_completo_1">
        <button name="menu" class="item-menu-colapse" (click)="alternaSubMenu('menu_completo_1')">
            <div>
                <img  class="icone-menu" src="/assets/images/cardapio.png">
                <span class="legenda">Cardápio</span>
            </div>
            <div>
                <img name="icone_menu" class="icone-seta" src="/assets/images/seta-direita.png">
            </div>
        </button>
        <div name="submenu" class="sub-menu-off">
            <div class="item-menu">
                <span>Produtos</span>
            </div>
            <div class="item-menu">
                <span>Categorias</span>
            </div>
        </div>
    </div>
    <button class="item-menu">
        <img class="icone-menu" src="/assets/images/equipe.png">
        <span>Financeiro</span>
    </button>
</div>