<div id="card-login" class="d-flex justify-content-center align-items-center">
    <div id="card-login-left" class="d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h3 class="mb-3">Bem vindo</h3>
            <img src="assets/images/restaurante.png" alt="icone-restaurante" />
        </div>
    </div>


    <div id="card-login-right" class="d-flex justify-content-center align-items-center">
        <div>
            <h3 class="mb-4 color-primaria">Acesse a plataforma</h3>
            <input class="form-control" type="text" placeholder="Login">
            <input class="form-control mt-2" type="text" placeholder="Senha">
            <div class="text-center mt-2">
                <button class="btn  text-center botao-padrao">Entrar</button>
            </div>
        </div>
    </div>
</div>