:root {
  --cor-primaria: #df7171;
  /* Azul principal */
}

.bg-primaria {
  background-color: var(--cor-primaria);
}

.color-primaria {
  color: var(--cor-primaria);
}

.botao-padrao {
  background-color: var(--cor-primaria) !important;
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.centraliza{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-1{
  margin-left: 1rem;
}
